asgiref==3.8.1
bleach==6.2.0
Django==5.1.5
django-ckeditor==6.7.2
django-cors-headers==4.6.0
django-js-asset==3.0.1
djangorestframework==3.15.2
esprima==4.0.1
ffpyplayer==4.5.2
json-tricks==3.17.3
mysqlclient==2.2.7
ntplib==0.4.0
pillow==11.1.0
py-cpuinfo==9.0.0
PyQt5-Qt5==5.15.2
pyserial==3.5
python-bidi==0.6.3
python-vlc==3.0.11115
pytz==2024.2
pywin32==302
sqlparse==0.5.3
tzdata==2024.2
webencodings==0.5.1
whitenoise==6.8.2
